/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #F4EFBD;
}

/* Navigation bar styles */
nav {
    background-color: #F4EFBD;
    color: #D18585;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

/* Logo styles */
.logo img {
    width: 150px;
    height: auto;
    margin-right: 0px;
}

.logo h1 {
    font-size: 24px;
    color: #D18585;
    margin-right: 50px;
}

/* Content styles */
.content {
    margin-top: 50px;
    text-align: center;
}
.content {
    margin-top: 50px;
    text-align: center;
    position: relative; /* Position relative to contain the absolutely positioned divider */
}

/* White division strip */
.division {
    background-color: white;
    height: 20px; /* Adjust height as needed */
}

/* Two-column container styles */
.two-column-container {
    display: flex;
}

.column {
    flex: 1;
    padding: 20px; /* Adjust padding as needed */
}

.column:nth-child(odd) {
    background-color: #F4EFBD; /* Set your desired background color for odd columns */
}

.column:nth-child(even) {
    background-color: #D18585; /* Set your desired background color for even columns */
    color: white; /* Set text color for even columns */
}
