/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #EDEBDD; /* Set your desired background color */
    text-align: center; /* Center align text */
}

/* Navigation bar styles */
nav {
    background-color: #EDEBDD; /* Set your desired background color */
    color: #D18585; /* Set your desired text color */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000; /* Set desired text color */
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px; /* Set desired width */
    height: auto;
    margin-right: 0px;
}

.logo h1 {
    font-size: 24px; /* Set desired font size */
    color: #D18585;
    margin-right: 50px;
}

.right-column {
    margin-top: 20px; /* Add margin to separate content */
}

h2, h3, p {
    margin-bottom: 15px; /* Add spacing between elements */
}

.text-container {
    margin-bottom: 20px; /* Add margin below text container */
}

.data-image {
    width: 80%; /* Adjust image width as needed */
    max-width: 400px; /* Limit maximum image width */
    margin: 10px auto; /* Center the images horizontally */
}

.two-column-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Adjust margin as needed */
}

.column {
    flex: 1;
}

/* Footer styles */
footer {
    background-color: #7DA19D; /* The color you want for your footer */
    padding: 20px 0; /* Adjust padding as needed */
    display: flex; /* Enable flexbox for layout */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align the items vertically */
    bottom: 0;
    width: 100%;
}

/* Footer link styles */
footer a {
    text-decoration: none;
    color: #fff; /* Set text color for footer links */
    margin: 0 10px; /* Adjust margin to add spacing between links */
}
